<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Etusivu</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body> 
<div>
<h1>Tervtuloa *käyttäjä* !</h1>
</div>
	<div class="col-md-4">
	
		<h2><a href="/tuotelista" class="btn default">Näytä tuotteet</a></h2>  		
		<h2><a href="/osastolista" class="btn default">Näytä osastot</a></h2>   
		<h2><a href="/paikkalista" class="btn default">Näytä hyllypaikat</a></h2> 
		<h2><a href="/etsi" class="btn default">Saldotarkistus</a></h2>   			
		<h2><a href="/vastaanota" class="btn default">Aloita tuotteiden vastaanotto</a></h2>   		
		<h2><a href="/hyllyta" class="btn default">Aloita tuotteiden hyllytys</a></h2>   		
		<h2><a href="/keraa" class="btn default">Aloita tuotteiden keräys</a></h2>
		 
	</div>
</body>
</html>