<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Muokkaa</title>
		<body>
			<a href="/vastaanota" class="btn default">Aloita vastaanotto</a>
			<a href="/index" class="btn default">Palaa etusivulle</a>
		<h1>Muokkaa paikan tietoja</h1>
	<div>
		<form th:object="${paikka}" th:action="@{../savep}" action="#" method="post">
		
			<input type="hidden" id="id" th:field="*{paikkaId}" />
		  	
		  	<label for="numero">Hyllypaikka</label>
			<input type="text" id="numero" th:field="*{numero}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	
		  	<label for="kplmaara">Uusi kappalemäärä</label>
			<input type="text" id="kplmaara" th:field="*{kplmaara}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="osasto">Osasto</label>
			<input type="text" id="osasto" th:field="*{osasto}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="tuote">Tuote</label>
			<input type="text" id="tuote" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input type="submit" value="Save"></input>
		</form>
	</div>
		</body>
</html>